<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<span th:text="${uid0}"></span>
<span th:text="${name0}"></span>
<img th:src="${img0}"></img>
<br/>
<span th:text="${uid1}"></span>
<span th:text="${name1}"></span>
<img th:src="${img1}"></img>
<br/>
    <span th:text="${uid2}"></span>
    <span th:text="${name2}"></span>
    <img th:src="${img2}"></img>
<br/>
    <span th:text="${uid3}"></span>
    <span th:text="${name3}"></span>
    <img th:src="${img3}"></img>
<br/>
<span th:text="${a_uid0}"></span>
<span th:text="${a_name0}"></span>
<img th:src="${a_img0}"></img>
</body>
</html>